.logo {
	margin-top: 10px;
	font-size: 2.5ch;
	text-decoration: none;
    margin-left: 20px;
    color: rgb(44, 150, 62);
    font-weight: bold;
}
nav {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.about {
	margin-right: 50px;
	margin-top: 10px;
	font-size: 2.5ch;
    text-decoration: none;
    color: rgb(44, 150, 62);
}
